@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
body {
  background: #171717;
  background-image: url("src/Group 3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
body span {
  font-size: 12px;
  font-weight: 600;
  color: red;
}
body input {
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #1e5946;
  border-radius: 5px;
  padding: 12px 47px 12px 13px;
  width: 353px;
  height: 25px;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

input::placeholder {
  font-family: "Roboto Mono", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

label {
  font-family: "Roboto Mono", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.wrap {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

.forma_main {
  display: flex;
  justify-content: center;
}

.up_panel {
  display: flex;
  align-items: flex-end;
  width: 577px;
  height: 75px;
}

.you_are {
  border-left: 3px solid #1e5946;
  border-bottom: 3px solid #1e5946;
  border-right: 3px solid #1e5946;
  border-top: 3px solid #1e5946;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 167px;
  height: 54px;
}

.youre_adress {
  border-bottom: 3px solid #1e5946;
  border-top: 3px solid #1e5946;
  border-right: 3px solid #1e5946;
  border-left: 3px solid #1e5946;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 231px;
  height: 54px;
}

.youre_passport {
  border-right: 3px solid #1e5946;
  border-left: 3px solid #1e5946;
  border-bottom: 3px solid #1e5946;
  border-top: 3px solid #1e5946;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 163px;
  height: 54px;
}

.forma_main {
  display: flex;
  flex-direction: column;
}

.forma {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #1e5946;
  border-left: 3px solid #1e5946;
  border-right: 3px solid #1e5946;
  padding: 51px 29px;
  width: 513px;
}

.three_buttons, .six_buttons, .five_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.three_buttons div, .six_buttons div, .five_buttons div {
  display: flex;
  flex-direction: column;
}

.two_buttons {
  margin-top: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.two_buttons input {
  width: 195px;
}

.form_text {
  border: 2px solid #1e5946;
  border-radius: 5px;
  padding: 12px 47px 12px 13px;
  width: 353px;
  height: 25px;
  width: 195px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.multiselect_block select {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: none;
  overflow-y: clip;
  height: 90px;
}
.multiselect_block select option {
  font-family: "Roboto Mono", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  color: black;
  margin: 0% 2% 0% 2%;
}

.client_group, .attending_physician {
  display: flex;
  flex-direction: column;
}

.attending_physician select {
  border: 2px solid #1e5946;
  border-radius: 5px;
  padding: 12px 47px 12px 13px;
  width: 353px;
  height: 25px;
  font-family: "Roboto Mono", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  width: 259px;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
}
.attending_physician select option {
  color: black;
}

.two_select_buttons {
  font-family: "Roboto Mono", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 7%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.choose_gender {
  font-family: "Roboto Mono", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin-top: 5%;
  justify-content: start;
  gap: 15px;
  font-size: 16px;
}

.genders {
  display: flex;
  flex-direction: column;
}
.genders input {
  width: 17px;
  accent-color: #1E5946;
  border: none;
}
.genders div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3px;
}

.check_sms {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.check_sms input {
  width: 21px;
}

/*# sourceMappingURL=style.css.map */
