$button-text: rgba(255, 255, 255, 0.6)
$button: rgba(255, 255, 255, 0.05)
$font-family: "Roboto Mono", sans-serif
$second-family: "Roboto Flex", sans-serif
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap')
$mob_max: 600px
$tab_min: 481px

@mixin mobila
    @media (max-width: $mob_max)
        @content    

        
    

@mixin button-styles
    border: 2px solid #1e5946
    border-radius: 5px
    padding: 12px 47px 12px 13px
    width: 353px
    height: 25px
    @include mobila
        width: 200px

@mixin second_text
    font-family: $font-family
    font-style: italic
    font-weight: 400
    font-size: 16px
    color: $button-text

body
    background: #171717
    background-image: url('src/Group 3.png')
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    padding: 0
    margin: 0
    font-family: $second-family
    font-weight: 400
    font-size: 20px
    color: #fff
    span
        font-size: 12px
        font-weight: 600
        color: red
    input
        background: $button
        @include button-styles
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        color: rgba(255, 255, 255, 0.9)
    @include mobila
        font-size: 14px

input::placeholder
    @include second_text

label
    @include second_text

.wrap
    display: flex
    justify-content: center
    padding-top: 1%

.forma_main
    display: flex
    justify-content: center
    width: 600px
    @include mobila
        width: 100%

.up_panel
    display: flex
    align-items: flex-end
    height: 75px

.you_are
    border-left: 3px solid #1e5946
    border-bottom: 3px solid #1e5946
    border-right: 3px solid #1e5946
    border-top: 3px solid #1e5946
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    width: 100%
    height: 54px

.youre_adress
    border-bottom: 3px solid #1e5946
    border-top: 3px solid #1e5946
    border-right: 3px solid #1e5946
    border-left: 3px solid #1e5946
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    width: 100%
    height: 54px

.youre_passport
    border-right: 3px solid #1e5946
    border-left: 3px solid #1e5946
    border-bottom: 3px solid #1e5946
    border-top: 3px solid #1e5946
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    width: 100%
    height: 54px

.forma_main
    display: flex
    flex-direction: column
    align-content: center
.forma
    display: flex
    flex-direction: column
    border-bottom: 3px solid #1e5946
    border-left: 3px solid #1e5946
    border-right: 3px solid #1e5946
    padding: 5%

.three_buttons,.six_buttons,.five_buttons
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column
    gap: 20px
    div
        display: flex
        flex-direction: column

.two_buttons
    margin-top: 7%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: row
    gap: 20px
    div
        display: flex
        flex-direction: column
    input
        width: 195px
    @include mobila
        flex-direction: column    

.form_text
    @include button-styles
    width: 195px
    height: 22px
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: row

.multiselect_block
    select
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        overflow-y: clip
        height: 90px
        option
            @include second_text
            color: black
            margin: 0% 2% 0% 2%

.client_group,.attending_physician
    display: flex
    flex-direction: column
.attending_physician
    select
        @include button-styles
        @include second_text
        width: 259px
        height: 50px
        background: $button
        option
            color: black

.two_select_buttons
    @include second_text
    margin-top: 7%
    display: flex
    justify-content: center
    flex-direction: row
    gap: 20px
    span
        @include second_text
        
    @include mobila
        flex-direction: column
.choose_gender
    @include second_text
    display: flex
    margin-top: 5%
    justify-content: start
    gap: 15px
    font-size: 16px
    span
        @include second_text
.genders
    display: flex
    flex-direction: column
    input
        width: 17px
        accent-color: #1E5946
        border: none
    div
        display: flex
        align-items: center
        justify-content: center
        flex-direction: row
        gap: 3px

.check_sms
    margin-top: 3%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    input
        width: 21px

.btn_submit
    display: flex
    justify-content: center
    align-content: center
    button
        @include button-styles
        border-top: none
        width: 150px
        height: 50px
        background: $button
        color: white
        font-size: 16px